.appbar-pyro {
    background-color: #df3213 !important;
}

.appbar-hydro {
    background-color: #204eb3 !important;
}

.appbar-electro {
    background-color: #8216a3 !important;
}

.appbar-cryo {
    background-color: #52a8c2 !important;
}
.appbar-anemo {
    background-color: #1dac7c !important;
}

.appbar-geo {
    background-color: #cc9638 !important;
}

.appbar-dendro {
    background-color: #51810e !important;
}

.appbar-indicator {
    background-color: white !important;
}