.text-pyro {
    color: #e46052
}

.text-hydro {
    color: #4faaff
}

.text-electro {
    color: #d85dd8
}

.text-cryo {
    color: #90e1fa
}

.text-anemo {
    color: #4bcfa3
}

.text-geo {
    color: #ecd133
}

.text-dendro {
    color: #9cdf3f
}

.text-highlight {
    color: #ffe7b9
}

.appbar-pyro {
    background-color: #ad0000 !important;
}

.appbar-hydro {
    background-color: #204eb3 !important;
}

.appbar-electro {
    background-color: #8216a3 !important;
}

.appbar-cryo {
    background-color: #4492aa !important;
}

.appbar-anemo {
    background-color: #1aa577 !important;
}

.appbar-geo {
    background-color: #91712e !important;
}

.appbar-dendro {
    background-color: #5a8f10 !important;
}

.appbar-indicator {
    background-color: white !important;
}

.MuiPaper-root.MuiDialog-paper {
    background-color: rgb(36, 41, 56) !important;
}