.filter-off, .filter-on {
    height: 32px;
    margin: 5px;
    padding: 2px;
    border: 2px solid gray;
    border-radius: 5px;
}

.filter-off:hover, .filter-on:hover {
    box-shadow: 0 0 15px 1px dodgerblue;
    border: 2px solid dodgerblue;
    cursor: pointer;
}

.filter-off {
    background-color: rgb(36, 41, 56);
    opacity: 0.5;
}

.filter-on {
    background-color: rgb(20, 25, 40);
    opacity: 1;
}