.text-pyro {
    color: #e46052
}

.text-hydro {
    color: #5e89e4
}

.text-electro {
    color: #ac55c7
}

.text-cryo {
    color: #90e1fa
}

.text-anemo {
    color: #4bcfa3
}

.text-geo {
    color: #e4ad4e
}

.text-dendro {
    color: #51810e
}

.text-highlight {
    color: #ffe7b9
}